// For wide screens
@include mediaXl {

}

// For Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// For Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        &#home h1 {
            font-size: 4rem;
        }

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../img/me_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}

// For smart phones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
        // font-size: 4rem;
    }


}

// for really small screens

@include mediaxxSm {

    .about-info .bio-imagesm {
        transform: translateX(-35px)    ;
        -webkit-transform: translateX(-35px)    ;
        -moz-transform: translateX(-35px)    ;
        -ms-transform: translateX(-35px)    ;
        -o-transform: translateX(-35px)    ;
}

    .about-info .bio-image {
    visibility: hidden;
}

    .about-info .bio-imagesm {
        visibility: visible;
     }
}

// For smaller screen smart phones

@include mediaxSm {
    main {
        text-align: center;

        &#home h1, &#about h1 {
            font-size: 2.1rem;
        }

        &#home h2, &#about h2 {
            font-size: 1.2rem;
        }

        .lg-heading {
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }

        .sm-heading {
            line-height: 1.5;
            margin-bottom: 2rem;
        }
    }

    .menu-nav {
        & .nav-link {
            font-size: 1.5rem;
        }
        
    }

    .menu-branding {

        .portrait {
            background: url('../img/me_xsmall.jpg');
            width: 100px;
            height: 100px;
        }
    }

    .trans {
        transform: translate(-40px,-90px)    ;
        -webkit-transform: translate(-40px,-90px)    ;
        -moz-transform: translate(-40px,-90px)    ;
        -ms-transform: translate(-40px,-90px)    ;
        -o-transform: translate(-40px,-90px)    ;
}

    
}